body {
    text-align: center;
    background-image: url(../img/numbers.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6em;
}

header {
    color: whitesmoke;
    background-color: rgba(0,0,0,.9);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#main {
    color: #ebeaea;
    background-color: rgba(1,1,1,.5);
    padding: 15px;
    font-size: 1.8em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#playerGuess, #guessBtn, #resetBtn {
    font-size: .7em;
    padding: 10px 18px;
    border-radius: 6px;
    background-color: #e8e8ea;
    color: black;
    cursor: pointer;
    transition: 0.2s;
}

#guessBtn:hover, #resetBtn:hover {
    background-color: #646a7a;
}

#feedback {
    padding: 25px;
    background-color: rgba(222, 230, 234, 0.9);
    margin: 10px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#attemptsLeftFeedback {
    padding-top: 15px;
}

#wins {
    color: blue;
}

#loses {
    color: red;
}